extends layout

block title

    title Edit poll

block content
    .container
        .raw
            .col-md-8.col-md-offset-2
                h3 Edit poll "#{poll.question}"

                each answer in poll.answers
                    .row

                        form
                            input(type="text" value="#{answer.label}")

                button.btn.btn-default Cancel
                button.btn.btn-danger Save poll