doctype html
html(lang='en')
    head

        block title
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')
    body
        .container
            .raw
                .col-md-8.col-md-offset-2
                    p= error

        script(src="/jquery.min.js")
        script(src="/js/bootstrap.min.js")