doctype html
html(lang='en')
    head

        block title
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/style.css', rel='stylesheet')
    body
        .container
            .row
                .col-md-8.col-md-offset-2
                    nav.navbar.navbar-default
                        .navbar-header
                            a.navbar-brand(href='/') VoteRex

                        ul.nav.navbar-nav
                            li.active
                                a(href='/') Home
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/auth/login').btn.btn-default Login
                            li
                                a(href='/auth/twitter').btn.btn-default.btn-twitter Twitter

                            if user

                                li
                                    a(href='/polls/mypolls').btn.btn-default MyPolls

                                li
                                    a(href='/admin/add').btn.btn-default NewPoll

                                li
                                    a(href='/auth/logout').btn.btn-default Logout
                                        span
                                            = " " + user.username

        block content

        script(src="/jquery.min.js")
        script(src="/js/bootstrap.min.js")