extends layout

block title

    title List of polls

block content
    .container
        p Below are polls.
        p Select a poll to see the results and vote, or
            a(href="/add-poll") &nbsp; sign-in to make a new poll.

        ul.list-group

            each poll in polls
                .row
                    a.list-group-item.col-md-11(href="/polls/#{poll.id}")= poll.question
                        span.pull-right= poll.id
                    a.list-group-item.col-md-1(href="/polls/delete/#{poll.id}")
                        span.glyphicon.glyphicon-remove