extends layout

block title

    title List of polls

block content
    .container
        .raw
            .col-md-8.col-md-offset-2
                p: strong Below are polls.
                p: strong Select a poll to see the results and vote, or
                    a(href="/admin/add") &nbsp; sign-in to make a new poll.

                ul.list-group

                    each poll in polls
                        .row
                            a.list-group-item.col-md-11(href="/polls/#{poll.id}")= poll.question
                                span.pull-right= poll.id
                            if admin || canDelete
                                a.list-group-item.col-md-1(href="/admin/delete/#{poll.id}")
                                    span.glyphicon.glyphicon-remove